Odo migrates between many formats. CSV <=> JSON <=> HDFS <=> SQL <=> etc

In [3]:
from odo import odo
import pandas as pd

In [14]:
csv_dataset = 'countries.csv'

In [16]:
df = odo(csv_dataset, pd.DataFrame)
df.columns = ['Country', 'Region']
df.head()

    Country  Region
0   Country  Region
1   Algeria  AFRICA
2    Angola  AFRICA
3     Benin  AFRICA
4  Botswana  AFRICA

In [17]:
# Convert from CSV to List
odo(csv_dataset, list)[:5]

[(u'Country', u'Region'),
 (u'Algeria', u'AFRICA'),
 (u'Angola', u'AFRICA'),
 (u'Benin', u'AFRICA'),
 (u'Botswana', u'AFRICA')]

In [20]:
# Convert from dataframe to JSON and dump in directory
odo(df, 'json_dataset.json')

In [21]:
# Use Spark SQL Context to read json file
sp_df = sqlContext.read.json('json_dataset.json').take(5)
sp_df

[Row(Country=u'Country', Region=u'Region'),
 Row(Country=u'Algeria', Region=u'AFRICA'),
 Row(Country=u'Angola', Region=u'AFRICA'),
 Row(Country=u'Benin', Region=u'AFRICA'),
 Row(Country=u'Botswana', Region=u'AFRICA')]

In [23]:
# Create Spark SchemaRDD using ODO
data = [('Alice', 300), ('Bob', 200.00), ('Donatello', -100.0)]
data

[('Alice', 300), ('Bob', 200.0), ('Donatello', -100.0)]